<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/allopathic.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
    <title>Allopathic</title>
</head>
<body>
    
    <!-- Header begins -->


    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero"><h1><span>Medicine </span>Recommendation</h1></a>
                </div>
                <div class="nav-list">
                    <div class="hamburger"><div class="bar"></div></div>
                    <ul>
                        <li><a href="home.html" data-after="Home">Home</a></li>
                        <li><a href="ayurvedic.html" data-after="About">Ayurvedic</a></li>
                        <li><a href="login.html" data-after="Contact">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Header ends -->


  <!-- Hero Section  -->
    <section id="hero">

        <div class="hero container">
            
      <div class="gif">
        <img src="../static/images/allopathic.gif" style="margin-left: 0px;margin-right:100px;width: 500px;height: 500px;">
      </div>
      <div>
        <h1>Enter your Symptoms <span></span></h1>
<h1>for the problem's <span></span></h1>
<h1>Allopathic Solution<span></span></h1>
<form action="">
    <label for="symptoms" class="input" style="font-size: x-large; color: #440a67;">Symptoms<span></span></label>
    <input type="text" id="symp" name="symp"><br><br>
</form>
<a href="#about" class="cta" style="margin-top: 10px;">Search</a></in>

</div>
    </section>
    
  <!-- End Hero Section  -->

  