<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/ayurvedic.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
    <title>Ayurvedic</title>
</head>
<body>
    
    <!-- Header begins -->


    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero"><h1><span>Medicine </span>Recommendation</h1></a>
                </div>
                <div class="nav-list">
                    <div class="hamburger"><div class="bar"></div></div>
                    <ul>
                        <li><a href=# data-after="Home">Home</a></li>

              
                        <li><a href="allopathic.html" data-after="About">Allopathic</a></li>
                        <li><a href="login.html" data-after="Contact">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Header ends -->


  <!-- Hero Section  -->
    <section id="hero">

        <div class="hero container">
            <div>
                <h1>Enter your Symptoms <span></span></h1>
        <h1>for the problem's <span></span></h1>
        <h1>Ayurvedic Solution<span></span></h1>
        <form action="">
            <label for="symptoms" style="font-size: x-large; color: #440a67;">Symptoms</label>
            <input type="text" id="symp" name="symp"><br><br>
        </form>
        <a href="#about" class="cta" style="margin-top: 10px;">Search</a>
        
      </div>
      <div class="gif">
        <img src="../static/images/ayurvedic.gif" style="margin-left: 100px;width: 500px;height: 500px;">
      </div>
    </section>
    
  <!-- End Hero Section  -->

  
