<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero"><h1><span>Medicine </span>Recommendation</h1></a>
                </div>
                <div class="nav-list">
                    <div class="hamburger"><div class="bar"></div></div>
                    <ul>
                        <li><a href="allopathic.html" data-after="Home">Allopathic</a></li>
                        <li><a href="ayurvedic.html" data-after="About">Ayurvedic</a></li>
                        <li><a href="login.html" data-after="Contact">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!-- About Section -->

<section id="about">
    <div class="about container">
        

        <div class="col-right">
           
            <h1 class="section-title"><span style="color: white;">Medicine Recommendation </span><span>System</span></h1>
        
              <h2>Your one stop solution For all your problems </h2>
             
             
             <p>
                Medicines nowadays are crucial and play a major role in everyone’s day to day life. They are obligatory and helpful to perform diagnosis of any ailment.
             </p>
             <p>
                Medications given to people depend upon the level of sickness, the prescribed medicine usually contains many chemicals, which may or may not show side-effects, there’s also a chance that they may occur in the long run.              
             </p>
              <p>
                Taking that note into consideration, the aim and purpose of Medicine Recommendation System is to provide medical recommendations for all kinds of ailment that our users are suffering from.
                We not only provide the option for finding Allopathic medicines but an additional feature to the above mentioned objective is that our website also gives ayurvedic recommendations for the
                same.              
             </p>
               
          </div>
    </div>
</section>
<!--End About Section -->